<!DOCTYPE html>
<!--suppress JSAnnotator -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Base</title>
    <link href="css/bootstrap.css">

    <script src="js/jquery.min.js"></script>

    <!--<script src="js/angular.min.js"></script>-->
    <script src="js/angular.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="js/watcher_tool.js"></script>br-->
</head>

<style>

</style>

<body ng-app="app" ng-controller="ctrl" class="container-fluid">

<test>Hello</test>

<div>
    <ul>
        <li>
            <label><input type="checkbox" name="h" ng-model="master" link-to="children">Master</label>
            <ul>
                <li><label><input type="checkbox" name="h" linked-to="children">Child 1</label></li>
                <li><label><input type="checkbox" name="h" linked-to="children">Child 2</label></li>
                <li>
                    <label><input type="checkbox" name="h" linked-to="children" link-to="subs" ng-model="child3">Child 3</label>
                    <ul>
                        <li><label><input type="checkbox" name="h" linked-to="subs">SubChild 1 of Child 3</label></li>
                        <li><label><input type="checkbox" name="h" linked-to="subs">SubChild 2 of Child 3</label></li>
                        <li><label><input type="checkbox" name="h" linked-to="subs">SubChild 3 of Child 3</label></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

</body>

<!--suppress UnnecessaryLocalVariableJS -->
<script>

    var angApp = angular.module("app", []);

    $$ = angular.element;

    jQuery.fn.tagName = function () {
        return this.prop("tagName");
    };

    jQuery.fn.isTagName = function (tagName) {
        return this.tagName() == tagName.toUpperCase();
    };

    function onScopeInit(scope, scopeName) {
        switch (scopeName) {
            case "scope1" :
                console.log("hello from scope");
                scope.hey = "HEEY";
                break;
        }
    }

    function parentOf(elem, isWrappedWithLabel) {
        var levels = (isWrappedWithLabel) ? 2 : 1;
        return $($($(elem)[0]).parents().eq(levels).siblings()[0]).children()
    }

    function ul(lis) {
        var t = "<ul>";
        angular.forEach(lis, function (li) {
            t += li;
        });
        t += "</ul>";
        return t;
    }

    function li(content) {
        var t = "<li>" +
                content +
                "</li>";
        return t;
    }

    function ulWithHeader(header, lis) {
        if (!header) return ul(lis);
        var t = "<ul>" +
                "<li>" +
                header +
                ul(lis) +
                "</li>" +
                "</ul>";
        return t;
    }

    function innerUlWithHeader(header, lis) {
        var t = "<li>" +
                header +
                ul(lis) +
                "</li>";
        return t;
    }

    function checkbox(label, attrs) {
        var t = "<label>" +
                "<input type='checkbox' ";
        for (var key in attrs) {
            var attr = attrs[key];
            if (angular.isUndefined(attr)) attr = "";
            t +=
                    key +
                    "=\"" +
                    attr +
                    "\"" +
                    " ";
        }
        t += ">" +
                label +
                "</label>";
        return t;
    }


    /**function to manipulate children groups*/
    function ChildrenGroup(linkValue) {
        var group = $('[linked-to=' + linkValue + ']');
        if (!group.length) return false;

        this.allChecked = function () {
            for (var x in group) {
                if (isFinite(x))
                    if (!$(group[x]).prop("checked"))
                        return false;
            }
            return true;
        };
        this.allUnchecked = function () {
            for (var x in group) {
                if (isFinite(x))
                    if ($(group[x]).prop("checked"))
                        return false;
            }
            return true;
        };
        this.atLeastOneIsChecked = this.allChecked() || !this.allUnchecked();
        this.atLeastOneIsCheckedButNotAll = !this.allChecked() && !this.allUnchecked();
        return this;
    }

    /**linkTo Directive
     * This directive is supposed to link a master checkbox to children checkboxes
     * useful in checkbox trees
     * usage as attribute : link-to="children" ng-model="master"
     * */
    angApp.directive("linkTo", function ($compile, $rootElement) {
        var
                scope = false,
                restrict = "A";


        /**Shortcut to checking group of jQuery checkboxes
         * @param elems jQuery object*/
        function checkGroup(elems) {
            elems.prop("checked", "checked");
        }

        /**Shortcut to unchecking group of jQuery checkboxes
         * @param elems jQuery object*/
        function uncheckGroup(elems) {
            elems.removeProp("checked");
        }


        /** Here is where all the work happens*/
        function compile(element, attrs) {
            var linkTo = attrs.linkTo; //string to link children to
            var linkedElements = $("[linked-to=" + linkTo + "]"); //array of linked elements


            return {
                pre: function preLink(scope) {
                    //watch the parent model for changes to apply changes to children accordingly
                    scope.$watch(attrs.ngModel, function () {
                        linkedElements = $("[linked-to=" + linkTo + "]");
                        var parentChecked = element.prop("checked");
                        element.removeProp("indeterminate");
                        if (parentChecked)
                            checkGroup(linkedElements);
                        else
                            uncheckGroup(linkedElements);
                    });


                    //watch all the children to do repective master changes

                },
                post: function postLink(scope) {
                    //if one of the children elements has a model, here that model should be updated
                    //hence if the child itself is a master and has children , the children would change accordingly
                    angular.forEach(linkedElements, function (elem) {
                        var $elem = $(elem);
//                        var elemProp = $elem.prop;
                        var elemModel = $elem.attr("ng-model");
                        if (elemModel) {
                            scope.$watch(attrs.ngModel, function () {
                                scope[elemModel] = scope[attrs.ngModel];
                            });
                        }
//                        watch the children themselves to set indeterminate accordingly

                        function updateMaster(noApply) {
                            var group = new ChildrenGroup(attrs.linkTo);
                            console.log(group);

                            if (group.atLeastOneIsCheckedButNotAll) {
                                element.prop("indeterminate", true);

                            } else {
                                element.prop("indeterminate", false);
                                if (group.allChecked()) {
                                    scope[attrs.ngModel] = true;
                                }
                                if (group.allUnchecked()) {
                                    scope[attrs.ngModel] = false;
                                }
                                if (!noApply)
                                    scope.$apply();
                            }

                            if (attrs.linkedTo) {
                                var newVal = $elem.prop("indeterminate");
                                $("[link-to=" + linkTo + "]").prop("indeterminate", newVal);
                            }

                        }

                        scope.$watch(function () {
                            return $elem.prop("checked");
                        }, function () {
                            updateMaster("noApply");
                        });
                        $elem.bind("change", function () {
                            updateMaster();
                        });
                    })

                }
            }
        }

        return {
            scope: scope,
            restrict: restrict,
            compile: compile
        }

    });

    /**linkedTo Directive
     * This directive is to be used in combination with linkTo Directive
     * The value in this directive tells the checkbox what master checkbox it should follow
     * if master checkbox has link-to="children"
     * then usage as attribute : linked-to="children"
     * */
    angApp.directive("linkedTo", function () {
        return {
            scope: false,
            restrict: 'A',
            compile: function (element, attrs) {
                // find master of current child

                return {}
            }
        }
    });

    angApp.directive("test", function ($compile, $rootElement) {
        var template = function () {
            //noinspection HtmlUnknownAttribute
            return "" +
                    "<ul>" +
                    "<li %repeat>%check</li>" +
                    "</ul>";
        };

        function ul(lis) {
            var t = "<ul>";
            angular.forEach(lis, function (li) {
                t += li;
            });
            t += "</ul>";
            return t;
        }

        function li(content) {
            var t = "<li>" +
                    content +
                    "</li>";
            return t;
        }

        var checkbox = function (name) {
            //noinspection HtmlUnknownAttribute
            var box = "<label><input type='checkbox' %attrs>%name</label>";
            if (angular.isDefined(name))
                box = box.replace("%name", name);
            return box;
        };

        var master = function (masterAttrs, name) {
            masterAttrs += " link-to=\"" + generateMasterValue() + "\"";
            var t = template()
                    .replace("%repeat", "")
                    .replace("%check", checkbox(name)
                            .replace("%attrs", masterAttrs));
            return t;
        };

        var child = function (childAttrs, name) {
            childAttrs += " linked-to=\"" + getMasterValue() + "\"";
            var t = template()
                    .replace("%repeat", "")
                    .replace("%check", checkbox(name)
                            .replace("%attrs", childAttrs));
            return t;
        };

        var lastMasterIndex = 0;

        var getMasterValue = function () {
            return false;
        };

        var generateMasterValue = function () {
            getMasterValue = function () {
                return "master" + (lastMasterIndex);
            };
            lastMasterIndex++;
            return getMasterValue();
        };

        var finalTemplate = "";

        return {
            scope: false,
            restrict: "E",
            compile: function (element, attrs) {

                return {
                    post: function (scope) {
                        finalTemplate = master(" ng-model=\"hey\" ", "I'm a master !") + child("", "I'm a child !");

                        console.log($compile(finalTemplate)(scope));
                    }
                }
            },
            template: function () {
                finalTemplate = master(" ng-model=\"hey\" ", "I'm a master !") + child("", "I'm a child !");

                return finalTemplate;
            }
        }
    });


    //    function getMastersOfElement(element) {
    //        var parents = $(element).parents();
    //        var elementLinkedTo = element.attr("linked-to");
    //
    //        var mastersOfElement = [];
    //
    //        function getMaster(element) {
    //            var elementLinkedTo = element.attr("linked-to");
    //            var parents = $(element).parents();
    //            var mastersOfElement = [];
    //
    //            if (elementLinkedTo) {
    //                angular.forEach(parents, function (parent) {
    //                    var jParent = $(parent);
    //                    if (jParent.children("input[type=checkbox]")) {
    //                        if (jParent.children("[link-to=" + elementLinkedTo + "]")) {
    //                            mastersOfElement.push(jParent.children("[link-to=" + elementLinkedTo + "]"));
    //                            if (jParent.attr("linked-to")) {
    //
    //                            }
    //                        }
    //                    }
    //                });
    //
    //            }
    //            return mastersOfElement;
    //        }
    //
    //        if (elementLinkedTo) {
    //            angular.forEach(parents, function (parent) {
    //                var jParent = $(parent);
    //                if (jParent.children("input[type=checkbox]")) {
    //                    if (jParent.children("[link-to=" + elementLinkedTo + "]")) {
    //                        mastersOfElement.push(jParent.children("[link-to=" + elementLinkedTo + "]"));
    //                        if (jParent.attr("linked-to")) {
    //
    //                        }
    //                    }
    //                }
    //            });
    //
    //
    //        } else {
    //            return;
    //        }
    //
    //    }

    //    function updateMasters(element, scope) {
    //        var masterModel = scope[element.attr("ng-model")];
    //
    //        var mastersOfElement
    //
    //    }


    //    angApp.directive("newScope", function ($compile, $rootElement) {
    //        return {
    //            template: function () {
    //                return "<div ng-repeat='t in testArray'>{{t}}</div>"
    //            },
    //            restrict: "A",
    //            scope: true,
    //            compile: function (element, attrs) {
    //                return function postLink(scope, iElement, iAttrs, controller) {
    //                    scope.testArray = [1, 2, 3, 4, 5, 6];
    //                    scope.$eval(iAttrs.eval);
    //                    onScopeInit(scope, iAttrs.newScope);
    //                }
    //            }
    //        }
    //    });
    //
    angApp.controller("ctrl", function ($scope, $compile, $rootScope, $timeout) {
        $scope.l = console.log;


//        $scope.as = [
//            {b: 1}, {b: 6}, {b: 7}
//        ];
//
//        $scope.push = function () {
//            $scope.as.push({b: parseInt(Math.random() * 10)});
//        };
//
//        $rootScope.$watch(
//                function checker() {
//                    return $('[new-scope]').length;
//                },
//                function (oldVal, newVal) {
////                    console.log(`oldVal : ${oldVal} , newVal : ${newVal}`)
//                }


    });

    function getScope() {
        return angular.element('[ng-controller]').scope();
    }
    s = getScope;

</script>

</html>