<!DOCTYPE html>
<!--suppress JSAnnotator -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Base</title>
    <link href="css/bootstrap.css">

    <script src="js/jquery.min.js"></script>

    <!--<script src="js/angular.min.js"></script>-->
    <script src="js/angular.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="js/watcher_tool.js"></script>br-->
</head>

<style>

</style>

<body ng-app="app" ng-controller="ctrl" class="container-fluid">

<test>Hello</test>

<div>
    <ul>
        <li>
            <label><input type="checkbox" name="h" ng-model="master" link-to="children">Master</label>
            <ul>
                <li><label><input type="checkbox" name="h" linked-to="children">Child 1</label></li>
                <li><label><input type="checkbox" name="h" linked-to="children">Child 2</label></li>
                <li>
                    <label><input type="checkbox" name="h" linked-to="children" link-to="subs" ng-model="child3">Child 3</label>
                    <ul>
                        <li><label><input type="checkbox" name="h" linked-to="subs">SubChild 1 of Child 3</label></li>
                        <li><label><input type="checkbox" name="h" linked-to="subs">SubChild 2 of Child 3</label></li>
                        <li><label><input type="checkbox" name="h" linked-to="subs">SubChild 3 of Child 3</label></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

</body>

<!--suppress UnnecessaryLocalVariableJS -->

<script src="base-compiled.js" type="text/javascript"></script>

<script src="HtmlGenerators-compiled.js" type="text/javascript"></script>

<script src="tree-directives.js" type="text/javascript"></script>


</html>